<div class="container">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag("doors.jpg", class: "d-block w-100") %>
      </div>
      <div class="carousel-item">
        <%= image_tag("santanaandcarlos.jpg", class: "d-block w-100") %>
      </div>
      <div class="carousel-item">
        <%= image_tag("fullgymimage.jpg", class: "d-block w-100") %>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>


<div class="container">
    <div class="row">
        <br><br>
    </div>
</div>
<div class="container">
  <div class="row" style='background: aliceblue;'>
    <div class="col-sm">
      <%= image_tag('carmenandnani.jpg', class:"img-fluid") %>
    </div>
    <div class="col-sm">
      <h3>Houston's Premier Olympic Style Boxing School</h3>
      <p>H-Town boxing is for those who want to learn the craft of fighting throught he sport of boxing. <br>
        We specialize in building upon the core fundamentals to ensure complete competency.
        No matter your goals, At H-Town boxing we don't take shortcuts.
      </p>
    </div>
  </div>
  <div class="row" style='background: aliceblue;'>
    <div class="col-sm">
      <h3>The Facility</h3>
      <p>H-Town boxing is a fully equipped gym complete with two full-Size rings,
        over 30 punching bangs bags, sauna, and a dedicated fitness and training area.
        H-town boxing is the place for the complete athlete. No matter your goals, we have the tools
        to get you the results you crave. We designed our gym to address every aspect of physical fitness
        using the sport of boxing. With this goal in mind we've developed H-town boxing to have everything
        you would need, and nothing you don't. In short... H-Town boxing is one of the best equipped gyms in the city, bar none.
      </p>
    </div>
    <div class="col-sm">
      <%= image_tag("bags.png", class:"img-fluid") %>
    </div>
  </div>
  <div class="row" style='background: aliceblue;'>
    <div class="col-sm">
      <%= image_tag("anelieandjalapeno.png", class:"img-fluid") %>
    </div>
    <div class="col-sm">
      <h3>The Sport Of A Lifetime</h3>
      <p>No matter your age or skill level, it's never too late to get started.</p>
      <p>Our trainers are beginner friendly and know how to break down the fundamentals
      of the sweet science. So long as you come in with a good attitude you're going to get results.</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
      <br><br>
  </div>
</div>
